@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);

  --fs-body: 13px;

  --fw-bold: 500;
  --fw-extra-bold: 700;

  --ff-manrope: "Manrope", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 10px;
  background: var(--clr-light-grayish-blue);
  font-family: var(--ff-manrope);
  font-size: var(--fs-body);
}

main {
  background: white;
  border-radius: 10px;
}

.img-back {
  background: url(../images/drawers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.datos {
  margin-top: 30px;
  padding-inline: 32px;
}

h1.tittle {
  font-size: 18px;
  font-weight: var(--fw-extra-bold);
  color: var(--clr-very-dark-grayish-blue);
}

p.description {
  margin-top: 18px;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: var(--fw-bold);
  color: var(--clr-grayish-blue);
}

.info {
  margin-top: 30px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details {
  display: flex;
  align-items: center;
  gap: 18px;
}

.name p {
  font-weight: var(--fw-extra-bold);
  color: var(--clr-very-dark-grayish-blue);
  font-size: 15px;
}

.name span {
  font-size: 14px;
  color: var(--clr-grayish-blue);
  font-weight: var(--fw-bold);
}

.details img {
  width: 45px;
  border-radius: 100px;
}

.shared {
  background: var(--clr-light-grayish-blue);
  width: 35px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.shared img {
  cursor: pointer;
}

.status {
  position: relative;
}

.hidden {
  position: absolute;
  background-color: var(--clr-very-dark-grayish-blue);
  height: 70px;
  width: 100%;
  bottom: -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 32px;
  border-radius: 0 0 10px 10px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.separador {
  display: flex;
  align-items: center;
  gap: 20px;
}

.separador p {
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: 15px;
  color: var(--clr-grayish-blue);
}

@media (width > 720px) {
  main {
    display: grid;
    grid-template-columns: 350px 1fr;
    max-width: 900px;
  }

  .img-back {
    height: 100%;
  }

  .hidden {
    width: 220px;
    bottom: 85px;
    right: -60px;
    border-radius: 15px;
    height: 60px;
  }

  .hidden::after {
    position: absolute;
    content: "";
    bottom: -0.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--clr-very-dark-grayish-blue);
    transform: rotate(45deg);
  }

  .separador p {
    font-size: 14px;
  }

  .hidden .shared {
    display: none;
  }

  .img-back {
    border-radius: 10px 0 0 10px;
  }
}
